
[Unit]
Description=configUpload
Wants=configUpload.timer

[Service]
Type=oneshot
ExecStart=/home/emily/Documents/Programs/Bash/BackupScript/uploadConfigAndDotfiles.sh

[Install]
WantedBy=default.target
