[submodule "NerdTree"]
	path = pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "YouCompleteMe"]
	path = pack/vendor/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe
[submodule "UltiSnips"]
	path = pack/vendor/start/UltiSnips
	url = https://github.com/sirver/UltiSnips
[submodule "Everforest"]
	path = pack/vendor/start/everforest
	url = https://github.com/sainnhe/everforest
[submodule "NerdTreeGit"]
	path = pack/vendor/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin/
[submodule "pack/vendor/start/everforest"]
	path = pack/vendor/start/everforest
	url = https://github.com/sainnhe/everforest
[submodule "pack/vendor/start/markdown-preview.nvim"]
	path = pack/vendor/start/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim
[submodule "pack/vendor/start/nerdtree"]
	path = pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "pack/vendor/start/nerdtree-git-plugin"]
	path = pack/vendor/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "pack/vendor/start/ultisnips"]
	path = pack/vendor/start/ultisnips
	url = https://github.com/sirver/UltiSnips
[submodule "pack/vendor/start/vim-commentary"]
	path = pack/vendor/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/vendor/start/vim-fish"]
	path = pack/vendor/start/vim-fish
	url = https://github.com/ericvw/vim-fish
[submodule "pack/vendor/start/vim-snippets"]
	path = pack/vendor/start/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "pack/vendor/start/vimtex"]
	path = pack/vendor/start/vimtex
	url = https://github.com/lervag/vimtex
[submodule "pack/vendor/start/YouCompleteMe"]
	path = pack/vendor/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe
