[Unit]
Description=Kopia UI
After=graphical.target

[Service]
ExecStart=/opt/KopiaUI/kopia-ui
User=emily
Environment="DISPLAY=:0"
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"
EnvironmentFile=/etc/environment

[Install]
WantedBy=graphical.target
