[Unit]
Description=Kopia Backup (Nixie)
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/kopia server start --description=Nixie --config-file=/home/emily/.config/kopia/Nixie/config.json \
  --refresh-interval=1h --no-persist-credentials --no-check-for-updates --no-grpc --cache-directory=/home/emily/.cache/kopia/Nixie \
  --log-dir=/home/emily/.config/kopia/Nixie/log/ --file-log-level=warning --log-level=warning \
  --address=https://127.0.0.1:8385 --tls-cert-file=/home/emily/.config/kopia/Nixie/cert.pem --tls-key-file=/home/emily/.config/kopia/Nixie/key.pem

User=emily
Group=emily
EnvironmentFile=/etc/kopia/Nixie.env

[Install]
WantedBy=graphical.target
