- name: Clone config Repo
  git:
    repo: https://github.com/Emily3403/configAndDotfiles
    dest: ~/configAndDotfiles
    force: yes

# ---
# AUR Helper Code
- name: Create the `aur_builder` user
  become: yes
  ansible.builtin.user:
    name: aur_builder
    create_home: yes
    group: wheel

- name: Allow the `aur_builder` user to run `sudo pacman` without a password
  become: yes
  ansible.builtin.lineinfile:
    path: /etc/sudoers.d/11-install-aur_builder
    line: 'aur_builder ALL=(ALL) NOPASSWD: /usr/bin/pacman'
    create: yes
    mode: 0644
    validate: 'visudo -cf %s'

- name: Gui packages
  become: true
  ansible.builtin.package:
    name:
      - firefox
      - flameshot
      - pavucontrol
      - telegram-desktop
      - nvtop
      - ibus
      - okular
      - thunderbird
      - blueberry
      - discord
      - gimp
      - syncthing
      - mpv
      - mediainfo

- name: Install AUR Packages
  aur:
    name:
      - spotify
      - superproductivity-bin
  become: true
  become_user: aur_builder

- name: Enable Syncthing Service
  systemd_service:
    name: syncthing@emily
    state: started
    enabled: true
  become: true

# TODO: Make this only on X11
# - name: Configure ibus support
#  shell: "ibus-daemon -drxR"

# - name: Set ibus environment variables
#  copy:
#    src: "~/configAndDotfiles/roles/gui_basic/tasks/dotfiles/ibus/environment"
#    dest: "/etc/environment"
#  become: yes

